button {
  height: 32px;
  width: 110px;
  border: 1px solid black;
  box-shadow: 4px 4px 7px black;
}

#btnNovoCliente {
  height: 35px;
  width: 180px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  color: #915e0c;
  border: none;
  border-radius: 12px;
  background-color: rgb(185, 199, 25);
  cursor: pointer;
  transition: 0.2s;
}

#btnNovoCliente:hover {
  background-color: rgb(230, 250, 0);
}

#salvarCliente {
  background-color: rgb(52, 152, 35);
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
}

#cancelarCliente {
  background-color: rgba(255, 0, 0, 0.868);
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
}
