form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 20px;
}

form > input {
  width: 180px;
  height: 35px;
  padding: 8px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #123a32;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
